# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/UF1/20211001_introduint_java/paquets/AplicacioBasica/nbproject/private/
/UF1/20211001_introduint_java/paquets/AplicacioBasica/dist/
/UF1/20211001_introduint_java/paquets/AplicacioBasica/build/
/UF1/20211001_introduint_java_dam/paquets/DemoPaquets/nbproject/private/
/UF1/20211001_introduint_java_dam/paquets/DemoPaquets/dist/
/UF1/20211001_introduint_java_dam/paquets/DemoPaquets/build/
/UF1/20211001_java_llibreria/Projecte/DemoPdf/nbproject/private/
/UF1/20211001_java_llibreria/Projecte/DemoPdf/build/
/UF1/20211001_java_llibreria/Projecte/DemoPdf/dist/
/UF1/20211004_compila_basic_amb_llibreria/Projecte/nbproject/private/
/UF1/20211004_compila_basic_amb_llibreria/Projecte/build/
/UF1/20211004_compila_basic_amb_llibreria/Projecte/dist/
/UF1/20211004_compila_basic_amb_llibreria/ProjecteClonic/nbproject/private/
/UF1/20211004_compila_basic_amb_llibreria/ProjecteClonic/build/
/UF1/20211004_compila_basic_amb_llibreria/ProjecteClonic/dist/
/UF1/20211007_solucio_compilacio/solucio/SurfWebLibrary/nbproject/private/
/UF1/20211007_solucio_compilacio/solucio/SurfWebLibrary/build/
/UF1/20211007_solucio_compilacio/solucio/SurfWebLibrary/dist/
/UF1/20211007_solucio_compilacio/solucio/ExcelWindReports/nbproject/private/
/UF1/20211007_solucio_compilacio/solucio/ExcelWindReports/build/
/UF1/20211007_solucio_compilacio/solucio/ExcelWindReports/dist/
/UF1/20211007_solucio_compilacio/solucio/mavenproject1/target/
